* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light_pink: hsl(275, 100%, 97%);
    --Grayish_purple: hsl(292, 16%, 49%);
    --Dark_purple: hsl(292, 42%, 14%);
}

.main {
    background-color: var(--Light_pink);
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Work Sans', 'sans-serif';
    min-height: 100dvh;
    display: grid;
    place-content: center;
}

img,
svg {
    max-width: 100%;
    display: block;
}

.question {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.1re, ;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 0;
}

button:hover {
    color: purple;
}

.main .container {
    background-color: var(--White);
    padding: 1.5rem;
    margin: 1rem;
    max-width: 650px;
    border-radius: 1rem;
}

.heading {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.heading h1 {
    font-size: 4rem;
    font-weight: 700;
}

.item:not(:last-child) {
    border-bottom: 2px solid var(--Light_pink);
}

.item .question .icons img {
    min-width: 30px;
}

.item .question .icons .icon-minus {
    display: none;
}

.ans {
    background-color: var(--White);
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease;
}

.ans p {
    color: var(--Grayish_purple);
    padding: 1.5rem 0;
}

@media (max-width: 540px) {
    .main {
        background-image: url(./assets/images/background-pattern-mobile.svg);
    }
}